# URLs de los servidores
VITE_IDENTITY_API_URL=/api
VITE_VOTE_API_URL=/graphql
VITE_SYSCOIN_RPC_URL=https://rpc-zk.tanenbaum.io

# ID de proyecto de WalletConnect (Obtenible en https://cloud.walletconnect.com/)
VITE_WALLET_CONNECT_ID=your_wallet_connect_project_id
