# URL del backend GraphQL
VITE_API_URL=http://localhost:3000/graphql

# ID de proyecto de WalletConnect (Obtenible en https://cloud.walletconnect.com/)
VITE_WALLET_CONNECT_ID=your_wallet_connect_project_id
