# URLs de los servidores
VITE_IDENTITY_API_URL=http://localhost:4000/api
VITE_VOTE_API_URL=http://localhost:3000/graphql

# ID de proyecto de WalletConnect (Obtenible en https://cloud.walletconnect.com/) (ya no necesario, pero se mantiene por compatibilidad)
VITE_WALLET_CONNECT_ID=your_wallet_connect_project_id
