PORT=4000
NODE_ENV=development

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

DEEPFACE_URL=http://localhost:5000
DEEPFACE_THRESHOLD=0.95

JWT_SECRET=identity_jwt_secret
JWT_EXPIRES_IN=300

RENIEC_API_URL=https://api.reniec.gob.pe
SIU_API_URL=https://api.siu.unt.edu.pe
UNT_REFERENCE_PHOTOS_PATH=/data/references

SALT_ROTATION_SECRET=unique_salt_for_election
